@model demoApp0818.Models.Auth.SignUp 
 @{ 
     ViewData["Title"] = "Register"; 
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center text-dark mt-5">Register</h2>
            <div class="text-center mb-5 text-dark">Made with Bootstrap</div>
            <div class="card my-5">
                <form  method="post" class="card-body cardbody-color p-lg-5">

                    <!-- Show validation errors (Identity + Model validation) -->
                    <div asp-validation-summary="All" class="text-danger mb-3"></div>

                    <div class="text-center">
                        <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png"
                             class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                             width="200px" alt="profile">
                    </div>

                    <div class="mb-3">
                        <input asp-for="UserName" class="form-control" placeholder="User Name" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <input asp-for="Email" class="form-control" placeholder="Email" type="email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <input asp-for="Password" class="form-control" placeholder="Password" type="password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" type="password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-color px-5 mb-5 w-100">Register</button>
                    </div>

                    <div id="emailHelp" class="form-text text-center mb-5 text-dark">
                        Already Registered? <a asp-action="Login" asp-controller="Auth" class="text-dark fw-bold">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




@* <form asp-action="Register" asp-controller="Auth" method="post" class="card-body cardbody-color p-lg-5"> *@

@*     <!-- Validation summary --> *@
@*     <div asp-validation-summary="All" class="text-danger mb-3"></div> *@

@*     <div class="text-center"> *@
@*         <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png" *@
@*              class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" *@
@*              width="200px" alt="profile"> *@
@*     </div> *@

@*     <div class="mb-3"> *@
@*         <input asp-for="UserName" class="form-control" placeholder="User Name" /> *@
@*         <span asp-validation-for="UserName" class="text-danger"></span> *@
@*     </div> *@

@*     <div class="mb-3"> *@
@*         <input asp-for="Email" class="form-control" placeholder="Email" type="email" /> *@
@*         <span asp-validation-for="Email" class="text-danger"></span> *@
@*     </div> *@

@*     <div class="mb-3"> *@
@*         <input asp-for="Password" class="form-control" placeholder="Password" type="password" /> *@
@*         <span asp-validation-for="Password" class="text-danger"></span> *@
@*     </div> *@

@*     <div class="mb-3"> *@
@*         <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" type="password" /> *@
@*         <span asp-validation-for="ConfirmPassword" class="text-danger"></span> *@
@*     </div> *@

@*     <div class="text-center"> *@
@*         <button type="submit" class="btn btn-color px-5 mb-5 w-100">Register</button> *@
@*     </div> *@

@*     <div id="emailHelp" class="form-text text-center mb-5 text-dark"> *@
@*         Already Registered? <a asp-page="/Account/Login" class="text-dark fw-bold">Login</a> *@
@*     </div> *@
@* </form> *@
